@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger {  display: none; }

header { padding: 16px 0; }

nav a { 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease; 
}

.header-right-menus a { color: #bbc; }

header .social-menu .facebook { padding: 4px 5px 1px; }

.facebook::before { content: "\f09a"; }

.youtube::before { content: "\f16a"; }

.twitter::before { content: "\f099"; }

.language .active-language { color: #000; }

.language { margin-top: 2px; }

header .wrapper {
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu a {
  color: #000;
  font-size: 10px;
  text-transform: uppercase;  
}

header .social-menu a {
  padding: 4px 4px 2px;
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-size: 11px;
  text-indent: -9999px;  
  -webkit-transition: 0.5s ease;  
  -o-transition: 0.5s ease;  
  transition: 0.5s ease;
}

.facebook::before, .youtube::before, .twitter::before, .language li:not(:last-child):after {
  float: right;
  font-family: FontAwesome;
  text-indent: 0;
}

.language a {
  font-size: 9.9px;
  text-transform: capitalize; 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease;
}

.language li:not(:last-child):after {
  content: "/";
  padding: 4px 0 0 4px;
  color: #bbc;
  font-size: 12px;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-wrap {
  width: 42%;
  padding-top: 12px;
  margin-right: 18.5%;
}

.header-right-menus .social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner section styling starts here
=================================*/ 
.banner .slide { position: relative; }

.banner .uppercase::first-letter,  h2::first-letter{ text-transform: capitalize; }

.slide-content p { font: bold 25px 'sans-serif'; }

.banner .wrapper {
  width: 100%;
  text-align: center;
}

h2 {
  padding: 27px 0; 
  background-color: #609;
  color: #fff;
  font: bold 40px 'sans-serif'; 
}

.slide-content {
  width: 84%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.slide-content span {
  margin-top: 17px;
  display: block;
  font: normal 18px 'sans-serif';
  letter-spacing: 1.5px; 
  text-transform: capitalize; 
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
  color: #fff;
  font-size: 11px;
}

.slick-dots {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  bottom: 15px;  
  list-style: none;
  text-align: center;
}
/*=================================
  banner section styling ends here
=================================*/ 
/*=================================
  films section styling starts here
=================================*/ 
.no-scroll { overflow: hidden; }

.films {  padding: 70px 0 80px; }

.films-list { margin-top: 33px; }

.click-video { display: none; }

.activeImage { display: block; }

.section-head { margin: 0 13%; }

.film ul li{ width: 48%; }

h4::first-letter { text-transform: capitalize; }

.video figure:before { 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease; 
}

.films .wrapper {
  width: 47.8%;
  text-align: center;
}

.video figure { 
  position:relative; 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease;
}

.video figure:after {
  content: "\f144";
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  cursor: pointer;
  font: normal 70px 'FontAwesome';
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; 
}

.lightbox-opened {
  width:100%;
  padding: 25px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;
}

.cancel {
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999px;
  font-size: 40px;
  cursor: pointer;
}

.cancel::before{
  content: "\f057";
  float: left;
  color: #fff;
  font-family: FontAwesome;
  text-indent: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.currentVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.film ul {
  width: 100%;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


h3 {
  margin-bottom: 9px;
  font: bold 26px 'sans-serif';
  text-transform: capitalize;
}

.films p ,.tool p{
  color: #7c7c7c;
  font: normal 13px 'sans-serif';
  line-height: 20px;
}

h4 {
  margin-bottom: 10px;
  font: bold 24px 'sans-serif';
}

.film-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  background-color: #e7e8e8;
  text-align: left;  
}

.blue-button a {
  padding: 10px 2.5%;
  border-radius: 50px;
  background-color: #49adf2;
  color: #fff;
  text-transform: uppercase;  
  -webkit-transition: 0.5s ease;  
  -o-transition: 0.5s ease;  
  transition: 0.5s ease;
}
/*=================================
  films section styling ends here
=================================*/ 
/*=================================
  tool section styling starts here
=================================*/ 
.tool { position: relative; }

.tool .wrapper { width: 100%; }

.tool figure { position: relative; }

.tool figure:before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0; 
  background-color: rgba(0,0,0,0.7);
}

.tool-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;  
  -webkit-transform: translate(-50%, -50%);  
  -ms-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
}

.tool p{
  margin-bottom: 27px;
  color: #fff;  
}
/*=================================
  tool section styling ends here
=================================*/ 


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







/*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
  .language a:hover { color: #000; }

  nav a:hover, header .social-menu a:hover { color: #5bf; }

  .video figure:hover:after { color: #7c7c7c; }

  .video figure:hover:before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0; 
    background-color: rgba(255,255,255,0.5);
  }

  .button:hover:before { color: #ea4436; }

  .blue-button a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
} 

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {



} 

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {



}  

/*media query for 360px starts here*/
@media only screen and (max-width: 360px) {



}  