@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger {  display: none; }

header { padding: 16px 0; }

nav a { 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease; 
}

.header-right-menus a { color: #bbc; }

header .social-menu .facebook { padding: 4px 5px 1px; }

.facebook::before { content: "\f09a"; }

.youtube::before { content: "\f16a"; }

.twitter::before { content: "\f099"; }

.language .active-language { color: #000; }

.language { margin-top: 2px; }

header .wrapper {
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu a {
  color: #000;
  font-size: 10px;
  text-transform: uppercase;  
}

header .social-menu a {
  padding: 4px 4px 2px;
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-size: 11px;
  text-indent: -9999px;  
  -webkit-transition: 0.5s ease;  
  -o-transition: 0.5s ease;  
  transition: 0.5s ease;
}

.facebook::before, .youtube::before, .twitter::before, .language li:not(:last-child):after {
  float: right;
  font-family: FontAwesome;
  text-indent: 0;
}

.language a {
  font-size: 9.9px;
  text-transform: capitalize; 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease;
}

.language li:not(:last-child):after {
  content: "/";
  padding: 4px 0 0 4px;
  color: #bbc;
  font-size: 12px;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-wrap {
  width: 42%;
  padding-top: 12px;
  margin-right: 18.5%;
}

.header-right-menus .social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*=================================
  Header styling ends here
=================================*/  
/*=================================
  main styling starts here
=================================*/
/*=================================
  banner section styling starts here
=================================*/ 
.banner .uppercase::first-letter,  h2::first-letter { text-transform: capitalize; }

.slide-content p { font: bold 25px 'sans-serif'; }

.banner .slide { 
  position: relative;
  outline: none;
}

.banner .wrapper {
  width: 100%;
  text-align: center;
}

h2 {
  padding: 27px 0; 
  background-color: #609;
  color: #fff;
  font: bold 36px 'sans-serif'; 
}

.slide-content {
  width: 84%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.slide-content span {
  margin-top: 17px;
  display: block;
  font: normal 18px 'sans-serif';
  letter-spacing: 1.5px; 
  text-transform: capitalize; 
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
  color: #fff;
  font-size: 11px;
}

.slick-dots {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  bottom: 15px;  
  list-style: none;
  text-align: center;
}
/*=================================
  banner section styling ends here
=================================*/ 
/*=================================
  films section styling starts here
=================================*/ 
.no-scroll { overflow: hidden; }

.films { padding: 70px 0 80px; }

.films-list { margin-top: 33px; }

.click-video { display: none; }

.section-head { margin: 0 13%; }

.film ul li { width: 48%; }

h4::first-letter { text-transform: capitalize; }

.video figure:before { 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease; 
}

.films .wrapper, .campaign .wrapper {
  width: 47.8%;
  text-align: center;
}

.video figure { 
  position:relative; 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease;
}

.video figure:after {
  content: "\f144";
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  cursor: pointer;
  font: normal 70px 'FontAwesome';
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; 
}

.lightbox-opened {
  padding: 25px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;
  z-index: 3;
}

.currentVideo {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.cancel {
  margin: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  font-size: 40px;
  cursor: pointer;
}

.cancel::before {
  content: "\f057";
  float: left;
  color: #fff;
  font-family: FontAwesome;
  text-indent: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.film ul {
  width: 100%;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  margin-bottom: 9px;
  font: bold 26px 'sans-serif';
  text-transform: capitalize;
}

.films p ,.tool p, .campaign p {
  color: #7c7c7c;
  font: normal 13px 'sans-serif';
  line-height: 20px;
}

h4 {
  margin-bottom: 10px;
  font: bold 24px 'sans-serif';
}

.film-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  background-color: #e7e8e8;
  text-align: left;  
}

.blue-button a {
  padding: 10px 2.5%;
  border: 2px solid #49adf2;
  border-radius: 50px;
  background-color: #49adf2;
  color: #fff;
  text-transform: uppercase;  
  -webkit-transition: 0.5s ease;  
  -o-transition: 0.5s ease;  
  transition: 0.5s ease;
}

.activeVideo { display: block; }
/*=================================
  films section styling ends here
=================================*/ 
/*=================================
  tool section styling starts here
=================================*/ 
.tool { position: relative; }

.tool .wrapper { width: 100%; }

.tool figure { position: relative; }

.tool figure:before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0; 
  background-color: rgba(0,0,0,0.7);
}

.tool-content {
  width: 53%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;  
  -webkit-transform: translate(-50%, -50%);  
  -ms-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
}

.tool p{
  margin-bottom: 27px;
  color: #fff;  
}

.mobile-img { display: none;}
/*=================================
  tool section styling ends here
=================================*/ 
/*=================================
  campaign section styling starts here
=================================*/ 
.campaign .blue-button a {
  border: 2px solid #49adf2;
  margin-top: 26px; 
}

.campaign { padding: 74px 0; }
/*=================================
  campaign section styling ends here
=================================*/ 

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer .wrapper { width: 73%; }

.contact-us { width: 108%;}

.footer-menus ul:last-of-type { margin-left: 75%; }

.footer-top-menus .social-links li { margin-bottom: 8px; }

footer .social-menu { width: 30%; }

.footer-top-menus{ padding-bottom: 20px; }

footer .footer-menus .active-link {color: #5bf;}

.footer-bottom-menus ul li { margin-right: 28px; }

.footer-contact { padding: 7px 0 0 5%; }

footer .footer-top-menus a { 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease; 
}

.footer-top-menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer-logos {
  padding: 11px 5.3% 11px 0;
  border-right: 1px solid #adb0b2;
  text-align: center;
}

.footer-logos span {
  margin: 14px 0 21px;
  display: block;
  color: #3c3d41;
  font: 600 8px 'sans-serif';
  letter-spacing: normal;
  line-height: 1;
}

.footer-menus {
  padding: 4px 15.8% 0 5.3%;
  margin-bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-menus ul li a {
  color: #3c3d41;
  font: 400 9px 'sans-serif';
  letter-spacing: 0.14px;
  text-transform: capitalize; 
}

.footer-top-menus .social-menu {
  padding: 8px 4% 8px 5.9%;
  border-right: 1px solid #adb0b2; 
  border-left: 1px solid #adb0b2;  
}

h6 {
  text-transform: capitalize;
  margin-bottom: 12px;
  display: block;
  color: #3c3d41;
  font: normal 11px 'sans-serif';
}

footer .facebook::before, footer .youtube::before, footer .twitter::before, .mail a:before {
  padding: 4px 4px 2px;
  border: 1px solid;
  border-radius: 50px;
  margin-right: 3%;
  margin-top: -3px;
  float: left;   
}

footer .facebook::before {
  padding: 4px 5px 3px;
  margin-right: 9%;
}

footer .twitter::before, footer .youtube::before {
  padding: 4px 4px 3px;
  margin-right: 7%;
}

.footer-top-menus .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .social-links li a {
  width: 100%;
  display: inline-block;
  color: #7c7c7c;
  font-size: 11px;
  text-transform: capitalize; 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease;
}

footer {
  padding-top: 26px;
  background-color: #e0e0e1;
}

.footer-contact p {
  margin-bottom: 14px;
  color: #646b6f;
  font: normal 9px 'sans-serif';
  letter-spacing: 0.14px;
  line-height: 16px;
}

.mail {
  margin-bottom: 12px;
  display: block;
  color: #3c3d41;
  font: 600 16px 'sans-serif';
  letter-spacing: 0.16px;
  line-height: 21px;
}

.mail a {
  width: 100%;
  color: #3c3d41;
  font: 400 9px 'sans-serif';
}

.mail a:before {
  content: "\f0e0";
  padding: 4px;
  font-family: 'FontAwesome';
  float: left;
  text-indent: 0;
}

.footer-bottom-menus {
  padding: 23px 0 12px;;
  border-top: 1px solid #adb0b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copyright {
  color: #3C3D41;
  font: 400 8px 'sans-serif';
  line-height: 21px;
}

.footer-bottom-menus a {
  color: #3c3d41;
  font:normal 9px 'sans-serif';
  text-transform: capitalize;  
  -webkit-transition: 0.5s ease;  
  -o-transition: 0.5s ease;  
  transition: 0.5s ease;
}
/*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
  .language a:hover { color: #000; }

  .video figure:hover:after, .button:hover:before { color: #7c7c7c; }

  nav a:hover, header .social-menu a:hover , 
  footer .footer-top-menus a:hover, .footer-bottom-menus a:hover { color: #5bf; }

  .blue-button a:hover {
    border: 2px solid #49adf2;
    background-color: #fff; 
    color: #49adf2;
  }

  .video figure:hover:before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0; 
    background-color: rgba(255,255,255,0.5);
  }  
} 

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* header responsive styling starts */
  header .wrapper { width: 90%; }
  
  header {
    position: relative;
    padding: 20px 0;
  }

  .menu { 
    width: 0;
    height: 100vh;
    padding-top: 10%;
    position: absolute; 
    z-index: 1;
    top: 0;
    left: 110%;
    background-color: #ccc;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .menu ul {
    width: 100%;
    position: absolute;
    text-align: center;
  }

  .menu li { 
    padding: 20px 0;
    display: block; 
  }

  .menu li a {
    padding: 0px 8px 15px;
    color: #000;
    font: bold 20px sans-serif;
    text-transform: capitalize;
  }

  .show { 
    width: 100%;
    left: 0; 
  }

  .hamburger {
    display: block; 
    position: relative;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 30px;
    right: 5%;
  }

  .bar {
    content: '';
    width: 45px;
    margin: 5px 0;
    display: block;
    background-color: #232323;
    font-size: 2px;
    text-indent: -99999px;
    -webkit-transition:  0.5s ease;
    -o-transition:  0.5s ease;
    transition:  0.5s ease;
  }

  .bar-three {
    width: 30px; 
    margin: 0;
    float: right;
  }

  .open .bar-two { 
    background-color: #49adf2; 
    -webkit-transform: rotate(45deg) translatex(-5px);
    -ms-transform: rotate(45deg) translatex(-5px);
    transform: rotate(45deg) translatex(-5px);
  }

  .open .bar-three { display: none; }

  .open .bar-one { 
    background-color: #49adf2; 
    -webkit-transform: rotate(-45deg) translatex(-5px);
    -ms-transform: rotate(-45deg) translatex(-5px);
    transform: rotate(-45deg) translatex(-5px); 
  }

  .show ul {
    display: flex;
    flex-direction: column;
  }

  .header-right-menus { display: none; }
  /* header section responsive styling ends */

  /* main section responsive styling starts */
  .banner-slider { display: none; }

  .tool-content { width: 90%; }

  .films .wrapper, .campaign .wrapper, footer .wrapper { width: 90%; }

  .section-head { margin: 0; }

  .film ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .films-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  /* main section responsive styling ends */

  /* footer section responsive styling starts */
  footer .social-links a { text-indent: -9999px; }

  h5 a { width:30% } 

  h6 { font-size: 20px; }

  footer .social-links li a { font-size: 18px; }

  .footer-logos figure img { width: 35%; }

  .footer-logos span { font: 600 20px 'sans-serif'; }

  .footer-menus ul:last-of-type { margin: 0 }

  .footer-contact p { font-size: 15px; }

  .mail { width: 22%; }

  .mail a { font-size: 20px; }

  .footer-bottom-menus a , .copyright { font-size: 15px; }

  .footer-top-menus ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .footer-logos ,.footer-menus, .footer-top-menus .social-menu {
    width: 100%;
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid #adb0b2;
    display: block; 
    text-align: center;
  }

  .footer-menus {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .footer-menus ul li a {
    margin-bottom: 10px;
    font: 400 15px 'sans-serif';
  }

  .footer-top-menus .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  footer .facebook::before {
    padding: 7px 10px 5px;
    margin: 0;
  }

  footer .twitter::before, footer .youtube::before {
    padding: 7px 6px 5px;
    margin: 0;
  }

  footer .social-links li {
    margin: 0;
    width: 6%;
  }

  .footer-contact {
    padding: 10px 0;
    text-align: center;
  }

  .mail { 
    margin: 0;
    display: inline-block;
    font-size: 7px;
    width: 27%;
    text-align: center;
  }
  /* footer section responsive styling starts */
}  

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {
  h2 { font-size: 28px; }

  .mail { width: 34%; }

  .social-links li { width: 8%; }

  .footer-logos span { font-size: 17px; }
} 

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  h2 { font-size: 20px; }

  h2 { font-size: 24px; }

  h4 { font-size: 20px; }

  .film ul li { width: 70%; }

  footer .social-links li { width: 10%; }

  .mail { width: 49%; }

  .footer-bottom-menus ul li { display: block; }

  .footer-logos span { font-size: 15px; }

  .footer-bottom-menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}  

/*media query for 340px starts here*/
@media only screen and (max-width: 340px) {

  h2 { font-size: 12px; }

  h3 { font-size: 20px; }

  h4 { font-size: 16px; }

  .footer-logos span { font-size: 12px; }

  .mail a { font-size: 16px; }
  
  footer .social-links li { width: 15%; }

  .mail { width: 63%; }

  .film ul li { width: 90%; }
  
  .desktop-img { display: none; }

  .mobile-img { display: block; }
}  